<%- include('./partials/head.ejs') %>

    <%- include('./partials/nav.ejs') %>
        <div id="form-container">
            <div class="create-message content card">
                <h1>Add Message</h1>
                <form action="/new" method="post">
                    <label for="username">Username:</label>
                    <input name="username" type="text" id="username" minlength="3" maxlength="50" required>

                    <label for="snippet">Text:</label>
                    <textarea name="snippet" id="snippet" rows="5" minlength="5" required></textarea>


                    <button type="submit">Submit</button>
                </form>
            </div>
        </div>
        <%- include('./partials/footer.ejs') %>