<nav>
    <div class="left-align">
        <a href="/">Messages</a>
    </div>
    <div class="right-align">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/new">New</a></li>
        </ul>
    </div>
</nav>